body {
  font-family: "Proxima Nova";
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  @include clamp("font-size", 20px, 2.35vw, 32px);
  color: $grey;
}

p {
  line-height: 118%;
  margin-bottom: 1em;
}

h1,
.h1 {
  @include h1;
}

h3,
.h3 {
  @include h3;
}

a {
  text-decoration: none;
  color: inherit;
}
